@import '../../mixins.scss';

.card {
    @include flexbox(space-between,row,center);
    gap:1.5rem;
    border: 1px solid rgba(149, 157, 165, 0.2);
    border-radius: 6px;
    width: 100%;
    padding: 1rem;
    text-align: left;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    &_detail{
        font-size: 1rem;
        text-align: left;
        &_heading {
            font-weight: 600;
            margin: 5px 10px;
        }
        &_text {
            margin: 5px 10px;
        }
    }
    &_activity{
        padding-inline: 2em;
        display: flex;
        gap: 2rem;
    }
}

